
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.floating-to-right {
  animation-name: floating-right;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes floating-right {
  0% { transform: translate(-120vw, 0); }
  100%   { transform: translate(120vw, 0); }
}

.floating-to-left {
  animation-name: floating-left;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes floating-left {
  0% { transform: translate(130vw, 0); }
  100%   { transform: translate(-130vw, 0); }
}

.offscreen-outer {
  overflow: hidden;
  position: relative;
}

.offscreen-left {
  position: absolute;
  height: 10vh;
  width: 10vw;
  right: -50vw;
}

.offscreen-right {
  position: absolute;
  height: 10vh;
  width: 10vw;
  left: -50vw;
}

.offscreen-left-from-right {
  transform: translate(-135vw, 0);
}

.offscreen-right-from-left {
  transform: translate(135vw, 0);
}

.offscreen-initial {
  transform: translate(300vw, 0);;
}
